.background-size-cover {
	background-size: cover;
}
.background-size-contain {
	background-size: contain;
}
.polyfill {
	-ms-behavior: url(../backgroundsize.htc);
	behavior: url(../backgroundsize.htc);
}

